/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
body {
  background-color: #eadbc8;
}
h1,
h2,
h3 {
  color: whitesmoke;
  margin-left: 80px;
}
h3,
h2 {
  font-family: "Poppins', sans-serif";
}

h1 {
  font-family: "'Playfair Display', serif";
  font-size: 90px;
  font-weight: bolder;
  line-height: 1;
  padding: auto;
  margin-top: 40px;
}
h2 {
  font-weight: normal;
  font-size: 24px;
  padding-bottom: 110px;
  margin-top: -70px;
}
h3 {
  font-weight: bold;
  font-size: 40px;
  padding-top: 150px;
}

.btn-branding {
  background: #4f4a45;
  color: whitesmoke;
  font-size: 38px;
  transition: 3s ease-in-out;
  text-decoration: none;
}

#hire {
  margin-left: 300px;
}
.hire:hover {
  background-color: black;
  color: whitesmoke;
}
#project {
  margin-left: 40px;
}
.project:hover {
  background-color: white;
  color: black;
}
.image {
  width: 30px;
  height: 60px;
}
.me {
  width: 450px;
  position: absolute;
  height: 50%;
  border-radius: 100%;
  right: 1px;
  margin-top: -400px;
  margin-right: 70px;
}
